<!DOCTYPE html>
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Blog|Post List</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>This is h1 heading!</h1>-->
<!--<h2>This is h2 hearing!</h2>-->
<!--<h3>This is h3</h3>-->
<!--<h4>This is h4</h4>-->
<!--<h5>This is h5</h5>-->
<!--<h6>This is h6</h6>-->
    <!--<p>Hi There!</p>-->
    <!--<p>It works!</p>-->
<!--<em>This is em text</em>-->
<!--<br />-->
<!--<strong>This is strong text</strong>-->
<!--<br />-->
<!--<a href="https://tutorial.djangogirls.org/en/html/" target="_blank">Click here to DjangoGirls HTML Course</a>-->
<!--<ul><li>first item</li><li>second item</li></ul>-->
<!--</body>-->
<!--</html>-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部落格</title>
</head>
    <body>
        <div>
            <h1><a href="">部落格 Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>