<!DOCTYPE html>
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Blog|Post List</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>This is h1 heading!</h1>-->
<!--<h2>This is h2 hearing!</h2>-->
<!--<h3>This is h3</h3>-->
<!--<h4>This is h4</h4>-->
<!--<h5>This is h5</h5>-->
<!--<h6>This is h6</h6>-->
    <!--<p>Hi There!</p>-->
    <!--<p>It works!</p>-->
<!--<em>This is em text</em>-->
<!--<br />-->
<!--<strong>This is strong text</strong>-->
<!--<br />-->
<!--<a href="https://tutorial.djangogirls.org/en/html/" target="_blank">Click here to DjangoGirls HTML Course</a>-->
<!--<ul><li>first item</li><li>second item</li></ul>-->
<!--</body>-->
<!--</html>-->

<!--https://tutorial.djangogirls.org/en/html/-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部落格</title>
</head>
    <body>
        <div>
            <h1><a href="">部落格 Django Girls Blog</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>published on: {{ post.published_date }}, by author: {{ post.author }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>